.inputBar {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 6px;
    button {
        cursor: pointer;
        background: #f6f6f6;
        color: #000;
        font-weight: 500;
        font-size: 12px;
        padding: 3px 6px;
        border-radius: 4px;
    }
}

.title {
    font-size: 14px;
    margin-right: 10px;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
}
