.page {
  width: 100%;
  flex: 1;
  display: flex;
}

.splitContainer {
  position: relative;
  width: 100%;
  flex: 1;
}

.htmlPreviewOutput {
  background: #ffffff;
  padding: 20px;
}

.button {
  cursor: pointer;
  background: #f6f6f6;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
}
