@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.ttf");
  font-style: italic;
}
