@import './reset';
@import './fonts';
@import './resizer';
@import './editor';
@import "./scrollbar";
@import "./drawer";
@import "./form";
@import "./command-palette";

@import "react-modern-drawer/dist/index.css";

html,
body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.draggable-area {
  -webkit-app-region: drag;
}

.main-layout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.main-layout-content {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #1a232c;
  color: #f1f1f1;
  font-weight: 400;
  font-size: 15px;
}
