@import "./reset";
@import "./fonts";
@import "./resizer";
@import "./editor";

html, body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.draggable-area {
  -webkit-app-region: drag;
}

.main-layout-content {
  height: calc(100vh - 24px);
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #1A232C;
  color: #f1f1f1;
  font-weight: 400;
  font-size: 15px;
}

.reflex-container.horizontal {
  .pane {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
