@import "react-reflex/styles.css";

.reflex-container > .reflex-splitter {
  background-color: #444 !important;
  z-index: 100;
}

.horizontal > .reflex-splitter {
  border: none !important;
  cursor: row-resize;
  width: 100%;
  height: 2px !important;
  margin: 12px 0;
}

.vertical > .reflex-splitter {
  border: none !important;
  cursor: row-resize;
  height: 100%;
  width: 2px !important;
  margin: 0 12px;
}
