name: CI
on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn
      - name: Lint Errors
        run: yarn lint
      - name: Tests
        run: yarn test
      - name: Build vite
        run: yarn build:vite
